circle {
    fill: red;
    stroke: black;
    stroke-width: 0.7;
    opacity: 0.7;
}



div.menu ,svg{
    float: left;
}
div.menu{
    width: 40%
}

.button{
    background-color: greenyellow
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}



